<?xml version="1.0" encoding="UTF-8"?>
<web-app id="oryx" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Process Designer</display-name>

  <!-- REST info service -->
  <context-param>
    <param-name>resteasy.resources</param-name>
    <param-value>org.ocram.rest.resource.BaseResource</param-value>
  </context-param>

  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>

  <!-- set this if you map the Resteasy servlet to something other than /*
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/asset</param-value>
  </context-param>
  -->
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
