<Context>

    <!-- maxActive: Maximum number of database connections in pool. 
         Set to -1 for no limit. -->

    <!-- maxIdle: Maximum number of idle database connections to retain in pool.
         Set to -1 for no limit.  See also the DBCP documentation on this
         and the minEvictableIdleTimeMillis configuration parameter.
         -->

    <!-- maxWait: Maximum time to wait for a database connection to become available
         in ms, in this example 10 seconds. An Exception is thrown if
         this timeout is exceeded.  Set to -1 to wait indefinitely.
         -->

  <Resource name="jdbc/designerDS" auth="Container" 
            type="javax.sql.DataSource"
            driverClassName="org.h2.Driver"  
            url="jdbc:h2:file:absolutePathtodatabase"  
            username="sa" password="" 
            maxActive="20" maxIdle="10" maxWait="-1"
            />
            
</Context>